
<div class="card-category text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/logo.png' )">
<h1>Save any kind of movies </h1>
</div>
<h1>Movie List</h1>
<ul>
<div class="row">
  <% @lists.each do |list| %>
   <div class="col-4">
  <div class="movie-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/classical.jpg' )">
  <%= list.name %> <%= link_to  "Details", list_path(list) %>
  </div> 
  </div>
  <% end %>
  </div>
</ul>
<%= link_to "Create a new list", new_list_path %>