.card-category{
  height:400px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-category h1{
  color: aqua;
  position: absolute;

}

.movie-category{
  height:400px;
  width:400px;
  color: red;
  
}