.card-category{
  height:400px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-category h1{
  color: aqua;
  position: absolute;

}

.card-category p{
  color:red;
}

.movie-category{
  height:400px;
  width:400px;
  color: red;  
}

.review{
 height: 100px;
 width: 100px;

}